[package]
name = "testcontainers-modules"
version = "0.1.0"
description = "Community maintained modules for Testcontainers for Rust"
categories = ["development-tools::testing"]
edition = "2021"
rust-version = "1.63"
repository = "https://github.com/testcontainers/testcontainers-rs"
keywords = ["docker", "testcontainers"]
license = "MIT"

[features]
default = []
dynamodb = []
elastic_search = []
elasticmq = []
google_cloud_sdk_emulators = []
kafka = []
minio = []
mongo = []
orientdb = []
parity = []
postgres = []
rabbitmq = []
redis = []
trufflesuite_ganachecli = []
zookeeper = []

[dependencies]
testcontainers = { version = "0.14.0" }

[dev-dependencies]
aws-config = "0.56.1"
aws-sdk-dynamodb = "0.31.1"
aws-sdk-s3 = "0.31.2"
aws-sdk-sqs = "0.31.1"
aws-types = "0.56.0"
futures = "0.3"
lapin = "2.3.1"
mongodb = "2.6.1"
orientdb-client = "0.6"
postgres = "0.19.7"
pretty_env_logger = "0.5.0"
rdkafka = "0.34.0"
redis = "0.23.3"
reqwest = { version = "0.11.20", features = ["blocking"] }
serde = { version = "1.0.188", features = [ "derive" ] }
serde_json = "1.0.107"
spectral = "0.6"
tokio = { version = "1", features = ["macros"] }
zookeeper = "0.8"
