[package]
name = "testcontainers-modules"
version = "0.1.3"
description = "Community maintained modules for Testcontainers for Rust"
categories = ["development-tools::testing"]
edition = "2021"
rust-version = "1.63"
repository = "https://github.com/testcontainers/testcontainers-rs-modules-community"
keywords = ["docker", "testcontainers"]
license = "MIT"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = []
dynamodb = []
elastic_search = []
elasticmq = []
google_cloud_sdk_emulators = []
kafka = []
minio = []
mongo = []
mysql = []
orientdb = []
parity = []
postgres = []
rabbitmq = []
redis = []
trufflesuite_ganachecli = []
zookeeper = []

[dependencies]
testcontainers = { version = "0.15.0" }

[dev-dependencies]
aws-config = "0.56.1"
aws-sdk-dynamodb = "0.34.0"
aws-sdk-s3 = "0.34.0"
aws-sdk-sqs = "0.34.0"
aws-types = "0.101.0"
futures = "0.3"
lapin = "2.3.1"
mongodb = "2.6.1"
mysql = "24.0.0"
orientdb-client = "0.6"
postgres = "0.19.7"
pretty_env_logger = "0.5.0"
rdkafka = "0.36.0"
redis = "0.23.3"
reqwest = { version = "0.11.20", features = ["blocking"] }
serde = { version = "1.0.188", features = [ "derive" ] }
serde_json = "1.0.107"
tokio = { version = "1", features = ["macros"] }
zookeeper = "0.8"

[[example]]
name = "postgres"
required-features = ["postgres"]
