[package]
name = "testcontainers-modules"
version = "0.1.0"
description = "Community maintained modules for Testcontainers for Rust"
categories = ["development-tools::testing"]
edition = "2021"
rust-version = "1.60.0"
repository = "https://github.com/testcontainers/testcontainers-rs"
keywords = ["docker", "testcontainers"]
license = "MIT"

[features]
default = []
coblox_bitcoincore = ["hex", "hmac", "rand", "sha2"]
dynamodb = []
elastic_search = []
elasticmq = []
google_cloud_sdk_emulators = []
kafka = []
minio = []
mongo = []
orientdb = []
parity = []
postgres = []
rabbitmq = []
redis = []
trufflesuite_ganachecli = []
zookeeper = []

[dependencies]
hex = { version = "0.4", optional = true }
hmac = { version = "0.12", optional = true }
rand = { version = "0.8", optional = true }
sha2 = { version = "0.10", optional = true }
testcontainers = { version = "0.14.0" }

[dev-dependencies]
aws-config = "0.56.1"
aws-sdk-dynamodb = "0.28.0"
aws-sdk-s3 = "0.28.0"
aws-sdk-sqs = "0.28.0"
aws-types = "0.56.0"
bitcoincore-rpc = "0.17.0"
futures = "0.3"
lapin = "2.2.1"
mongodb = "2.1.0"
orientdb-client = "0.6"
postgres = "0.19"
pretty_env_logger = "0.5.0"
rdkafka = "0.34.0"
redis = "0.23.0"
reqwest = { version = "0.11", features = ["blocking"] }
serde = { version = "1", features = [ "derive" ] }
serde_json = "1"
spectral = "0.6"
tokio = { version = "1", features = ["macros"] }
zookeeper = "0.8"
